<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/new.css">
  </head>
  <body>


    <form class="form" action="/animals/<%= data.id %>" method="post">
        <h2>Edit <%= data.name %> Info!</h2>
        <% JSON.stringify(messages) %>
        <div class="form-group row">
            <div class="col-md-4 offset-4">
              <% if(messages.name) { %>
                <% for (var x of messages.name) { %>
                  <h3><%= x %></h3>
                <% } %>
              <% } %>
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 offset-4">
            <% if(messages.weight) { %>
              <% for (var x of messages.weight) { %>
                <h3><%= x %></h3>
              <% } %>
            <% } %>
            <label for="weight">Weight:</label>
            <input type="weight" class="form-control" id="weight" name="weight" value="<%= data.weight %>">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 offset-4">
            <% if(messages.lifespan) { %>
              <% for (var x of messages.lifespan) { %>
                <h3><%= x %></h3>
              <% } %>
            <% } %>
            <label for="lifespan">Lifespan:</label>
            <input type="lifespan" class="form-control" id="lifespan" name="lifespan" value="<%= data.lifespan%>">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 offset-4">
            <% if(messages.diet) { %>
              <% for (var x of messages.diet) { %>
                <h3><%= x %></h3>
              <% } %>
            <% } %>
            <label for="diet">Diet:</label>
            <input type="diet" class="form-control" id="diet" name="diet" value="<%= data.diet %>">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 offset-4">
            <% if(messages.predators) { %>
              <% for (var x of messages.predators) { %>
                <h3><%= x %></h3>
              <% } %>
            <% } %>
            <label for="predators">Predators:</label>
            <input type="predators" class="form-control" id="predators" name="predators" value="<%= data.predators %>">
          </div>
        </div>

        <input class="button1" type="submit" value="Save">


    </form>
        <br>
    <form class="form" action="/animals/destroy/<%= data.id %>" method="POST">
        <input class="button1" type="submit" value="Delete">
    </form>



  </body>
</html>
